<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>login system</h1>
    <form action="{% url 'login' %}" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>
        {% endfor %}

        <input type="submit" value="login" class="btn btn-success">
    </form>
    <a href="{% url 'sign_up' %}" class="btn btn-success">signup</a>
</body>

</html>