<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome {{user}}</h1>
    {% if users != None %}
    <h3>lists of users</h3>
    <table border=" ">
    {% for user in users %}
    <a href="{% url 'user_detail' user.id %}">{{user.username}}</a>
    <br>
    {% endfor %}
    {% endif %}
</table>
    {% if messages %}
{% for message in messages %}
<small>{{message}}</small>
{% endfor %}
{% endif %}
<a href="{% url 'logout' %}">logout</a>
<a href="{% url 'changepwd' %}">change password</a>
<form action="{% url 'profile' %} " method="POST" novalidate>
    {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}}<br> {{fm.errors|striptags}}<br>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-success">
</form>
</body>
</html>