<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>registration</h1>
    <form action="{% url 'sign_up' %}" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}
    <input type="submit" value="Submit" class="btn btn-success">


</form>
<a href="{% url 'login' %}" class="btn btn-success">login</a>
{% if messages %}
{% for message in messages %}
<small>{{message}}</small>
{% endfor %}
{% endif %}
</body>
</html>